Nxyq314gBsEJ4ylV.json
{
  "createdAt": "2025-01-20T17:53:02.410Z",
  "updatedAt": "2025-01-20T17:53:25.971Z",
  "id": "Nxyq314gBsEJ4ylV",
  "name": "DISPARADOR PRO - LEADS Whatsapp - BUSQUE AI",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "14c51024-a508-47cd-af23-21fc3ca4f3fb",
              "leftValue": "={{ $json.enviar }}",
              "rightValue": "=1",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        660
      ],
      "id": "aa4fdd62-1d9d-4b8d-b58a-7825fe9ba17c",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        160,
        640
      ],
      "id": "e8560a37-4e4e-4645-ae98-c48f657a3747",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        620,
        640
      ],
      "id": "b1839c89-f019-412a-bcef-824412ba5e94",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        1000,
        880
      ],
      "id": "dabadfcb-1c0f-456c-9b04-293d6ce28141",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "b4auJTU9Z1864AOH",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n    \"name\": \"nome do cliente aqui\",\n  \t\"numero\": \"numero de telefone aqui\",\n\t\"text\": \"mensagem enviada aqui\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1240,
        880
      ],
      "id": "0003d51e-c951-4725-ad85-7e79296cfc8d",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3e95fdc3-f7e1-40ef-9065-c13945ef9016",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "id": "22d0f61d-8fd7-4ea2-8066-260f92e8ecf0",
      "name": "Webhook",
      "webhookId": "3e95fdc3-f7e1-40ef-9065-c13945ef9016",
      "disabled": true
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $('Loop mensagens').context.done}}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1800,
        640
      ],
      "id": "fda0ec06-de42-481f-80c1-5dd918a8dc5f",
      "name": "Loop mensagens"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.text",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1580,
        640
      ],
      "id": "6b2e4bf2-58c3-438b-b838-ecd80abb07f2",
      "name": "Split Out"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2260,
        660
      ],
      "id": "6900caca-432a-4b6a-bc32-8ce4450ee978",
      "name": "3 Segundos",
      "webhookId": "94430862-f45d-4dbc-a644-3b8734dc3c47"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2260,
        880
      ],
      "id": "8c2e6f13-f28e-4d6d-9b74-080c51b75080",
      "name": "5 Segundos",
      "webhookId": "c435d4e9-6b89-40cb-aae1-43d823e6c275"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1hRJhrdBhHDJcEmPQZCMR55ektOnVSl0yC246P6I3bIw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hRJhrdBhHDJcEmPQZCMR55ektOnVSl0yC246P6I3bIw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nome": "={{ $('Edit Fields').item.json.output.name }}",
            "contato": "={{ $('Edit Fields').item.json.output.numero }}",
            "mensagem": "={{ $('Edit Fields').item.json.output.text }}",
            "data_hora": "={{ $now.format('dd/MM/yyyy hh:mm:ss') }}",
            "enviar": "Enviado"
          },
          "matchingColumns": [
            "nome"
          ],
          "schema": [
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contato",
              "displayName": "contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_hora",
              "displayName": "data_hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "enviar",
              "displayName": "enviar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2460,
        660
      ],
      "id": "e7dbba58-1403-433c-8c6a-85242cb54f0d",
      "name": "Atualiza Tabela",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g7SnwdIuneJwIUag",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<CONTATO>{{ $json.contato }}</CONTATO>\n<CLIENTE>{{ $json.nome }}</CLIENTE>\n<EXEMPLO> Olá, [Nome do Cliente], tudo bem? Aqui é a Bruna Oliver, da Elite AI Solutions.\n\nAcompanhei o trabalho incrível que vocês fazem, cuidando com tanto carinho e profissionalismo de seus clientes. Imagino que, com a rotina tão movimentada, desafios como responder mensagens no WhatsApp rapidamente ou organizar agendamentos possam surgir, certo?\n\nPensando nisso, adoraria te convidar para uma breve consultoria gratuita (30 minutos), onde vou te mostrar como as automações certas podem otimizar esses processos, deixando tudo mais ágil e organizado. Além de facilitar sua gestão, isso também pode elevar a experiência dos seus clientes e contribuir para um crescimento significativo do seu negócio.\n\nSe fizer sentido para você, conseguimos conversar hoje? Fico à disposição para ajustar ao melhor horário para você!</EXEMPLO>",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Você é uma assistente comercial e a sua função é criar uma mensagem de whats app personalisada para o cliente <CLIENTE></CLIENTE>.você trabalha para a Elite AI Solutions uma empresa que desenvolve automações para empresas utilizando inteligencia artificial em seus processos internos.\n\nA mensagem deve ser neste modelo <EXEMPLO></EXEMPLO>, modifique apenas o nome do cliente <CLIENTE></CLIENTE>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1020,
        640
      ],
      "id": "1dd27239-3f5e-4d43-8584-394471435a8c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hRJhrdBhHDJcEmPQZCMR55ektOnVSl0yC246P6I3bIw",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hRJhrdBhHDJcEmPQZCMR55ektOnVSl0yC246P6I3bIw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        400,
        640
      ],
      "id": "71269228-7a3a-4b13-81cb-b6e0962a7086",
      "name": "Dados Leads",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g7SnwdIuneJwIUag",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1100,
        340
      ],
      "id": "fb33ae4c-9f08-4033-bdf0-f8944ae8f7d9",
      "name": "Nenhuma operação"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.eliteaisolutions.com.br/message/sendText/elite",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "87EBCF207A9F-4B27-B1DB-742F62F4E56C"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Edit Fields').item.json.output.numero }}"
            },
            {
              "name": "text",
              "value": "={{ $('Split Out').item.json['output.text'] }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2040,
        660
      ],
      "id": "b4146b44-6fcc-4b8f-a09d-0784aeac403e",
      "name": "Evolution"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14c8c098-ce7d-44f4-9ae0-5f6273bf1b43",
              "name": "output.text",
              "value": "={{ $json.output.text.split('\\n\\n') }}",
              "type": "array"
            },
            {
              "id": "a3cb0f7c-f455-4165-b8cc-375d4320a037",
              "name": "output.numero",
              "value": "={{ $('AI Agent').item.json.output.numero }}",
              "type": "string"
            },
            {
              "id": "b6b3dcf8-f459-4e2c-bd98-6220cbdfb26f",
              "name": "output.name",
              "value": "={{ $('AI Agent').item.json.output.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1380,
        640
      ],
      "id": "138a5a97-438b-45d1-8bb3-7558ccec94cd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## Evolution Manager \n*Events - Webhook*",
        "height": 320,
        "width": 340,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        180
      ],
      "id": "e97969f9-fe03-4031-9df1-d89176cb5134",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Delay\n**Esperar para envio de mensagens e seguir o fluxo**",
        "height": 520,
        "width": 220,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2200,
        520
      ],
      "id": "d8f27ed5-7fcc-4693-88a3-e91fa177208c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Send message\n**Enviar mensagem para o Lead**",
        "height": 360,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1960,
        520
      ],
      "id": "1a38bb7d-1fb2-4915-a3b8-4426ffde7a8f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Loop\n**Laço**",
        "height": 360
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1720,
        520
      ],
      "id": "32fa10e4-999f-44d1-a922-d7286dc5050a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Loop + IF\n**Laço + Estrutura condicional - SE**",
        "height": 360,
        "width": 400,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        520
      ],
      "id": "baddf2a4-3706-45e6-a2e8-3f389c7dac23",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Message handling\n**Tratamento de mensagens Agente**",
        "height": 360,
        "width": 380,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1340,
        520
      ],
      "id": "8f9354ae-cc09-4757-adb5-f786dbbba882",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Agente IA\n****",
        "height": 520,
        "width": 380,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        520
      ],
      "id": "5e5e65ae-dc36-4bfe-9c76-43ecb98304a5",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Update spreadsheet \n**Atualizar planilha**",
        "height": 360,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2420,
        520
      ],
      "id": "3aa29108-ae42-4290-a2ce-758ad7f06af0",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Lead data\n**Informações dos leads**",
        "height": 360,
        "width": 220,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        340,
        520
      ],
      "id": "79fefd6a-b3aa-419a-bc8c-866efec79a6a",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Workflow Trigger\n**Acionar Fluxo**",
        "height": 360,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        520
      ],
      "id": "d2a94559-ba0d-4592-ba1a-3dabf06a3c39",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## End\n****",
        "height": 260,
        "width": 380,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        260
      ],
      "id": "cc68fc4c-4086-406c-8410-16a3f706a944",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "```\n    ██████╗ ██╗███████╗██████╗  █████╗ ██████╗  █████╗ ██████╗  ██████╗ ██████╗     ██████╗ ██████╗  ██████╗               ██╗     ███████╗ █████╗ ██████╗ ███████╗\n    ██╔══██╗██║██╔════╝██╔══██╗██╔══██╗██╔══██╗██╔══██╗██╔══██╗██╔═══██╗██╔══██╗    ██╔══██╗██╔══██╗██╔═══██╗              ██║     ██╔════╝██╔══██╗██╔══██╗██╔════╝\n    ██║  ██║██║███████╗██████╔╝███████║██████╔╝███████║██║  ██║██║   ██║██████╔╝    ██████╔╝██████╔╝██║   ██║    █████╗    ██║     █████╗  ███████║██║  ██║███████╗\n    ██║  ██║██║╚════██║██╔═══╝ ██╔══██║██╔══██╗██╔══██║██║  ██║██║   ██║██╔══██╗    ██╔═══╝ ██╔══██╗██║   ██║    ╚════╝    ██║     ██╔══╝  ██╔══██║██║  ██║╚════██║\n    ██████╔╝██║███████║██║     ██║  ██║██║  ██║██║  ██║██████╔╝╚██████╔╝██║  ██║    ██║     ██║  ██║╚██████╔╝              ███████╗███████╗██║  ██║██████╔╝███████║\n    ╚═════╝ ╚═╝╚══════╝╚═╝     ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝╚═════╝  ╚═════╝ ╚═╝  ╚═╝    ╚═╝     ╚═╝  ╚═╝ ╚═════╝               ╚══════╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝\n                                                                                                                                                                   \n```",
        "width": 1660,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        340,
        -140
      ],
      "id": "49ccd2d1-6a47-4dd4-ad33-9b5573487080",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "```                                                                      \n                                                                      \n                                                                      \n    ██████  ██    ██ ███████  ██████  ██    ██ ███████      █████  ██ \n    ██   ██ ██    ██ ██      ██    ██ ██    ██ ██          ██   ██ ██ \n    ██████  ██    ██ ███████ ██    ██ ██    ██ █████       ███████ ██ \n    ██   ██ ██    ██      ██ ██ ▄▄ ██ ██    ██ ██          ██   ██ ██ \n    ██████   ██████  ███████  ██████   ██████  ███████     ██   ██ ██ \n                                 ▀▀                                   \n                                                                      \n```",
        "height": 200,
        "width": 760,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        760,
        40
      ],
      "id": "1dfd2a40-a0ac-475d-8424-49a610c9673d",
      "name": "Sticky Note12"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Dados Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Nenhuma operação",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Loop mensagens": {
      "main": [
        [
          {
            "node": "5 Segundos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evolution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3 Segundos": {
      "main": [
        [
          {
            "node": "Atualiza Tabela",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5 Segundos": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Tabela": {
      "main": [
        [
          {
            "node": "Loop mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Leads": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution": {
      "main": [
        [
          {
            "node": "3 Segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c227e670-c5bb-4801-abe0-00087b3059e7",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-01-20T15:24:06.076Z",
      "updatedAt": "2025-01-20T15:24:06.076Z",
      "id": "Eicfvnyw0KgZUadX",
      "name": "™"
    },
    {
      "createdAt": "2025-01-20T17:53:15.338Z",
      "updatedAt": "2025-01-20T17:53:15.338Z",
      "id": "dggMmKMntXypCbsc",
      "name": "Disparador"
    }
  ]
}